<div id="contact">
	<h1></h1>
	</div>
	

	<div class="span1">&nbsp;</div>
        <div class="span2">
          <div class="well sidebar-nav">
            <h3>'Reach Out'</h3>
             <ul class="nav nav-list">
                <li class="nav-header"></li>
                <li><%= link_to "Twitter", "https://twitter.com/shockt88", :target => '_blank'  %></li>
              <li><%= link_to "Facebook", "https://www.facebook.com/shockt88", :target => '_blank'  %></li>
              <li><%= link_to "Linkedin", "http://www.linkedin.com/profile/edit?trk=tab_pro", :target => '_blank'  %></li>
              <li><%= link_to "Github", "https://twitter.com/shockt88", :target => '_blank'  %></li>
              <li><%= link_to "Foodspotting", "http://www.foodspotting.com/137251-shockt88", :target => '_blank'  %></li>
              <li><%= link_to "Tumblr", "http://www.tumblr.com/blog/newbchronicles", :target => '_blank'  %></li>
            </ul>
        </div>
       </div>

	


	
<img alt="full screen background image" src="assets/holland.jpg" id="full-screen-background-image" />
	

	